#kitty, #fresa, #casita {
    background-color: transparent !important; /* Evita cuadros de color */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#fresa {
    width: 100px; /* Espacio para las 3 fresas */
    height: 45px;
    background-image: url('img/strawberry.png');
    background-repeat: space; /* Esto las clona automáticamente */
    bottom: 20px;
    right: -150px;
}

.game-container {
    width: 100%;
    max-width: 600px;
    height: 250px;
    background-image: url('img/fondo-paisaje.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border-bottom: 8px solid #8bc34a; /* El césped donde pisa Kitty */
}
/* ... el resto de animaciones que te pasé antes siguen igual ... */
